<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
   
    <link rel="stylesheet" href="helo.css">
    
</head>
<body>
    <header class="top_bar">
        <img src="images.png" alt="logo">
        <h1>Name</h1>
        <div>
            <h2>Job Applicant</h2>
            <a href="SigninJobApplicant"><h3>Sign in</h3></a>
            <a href ="SignupJobApplicant"><h3>Sign up</h3></a>
        </div>
        <div>
            <h2>Job PROVIDER</h2>
            <a href="SigninJobCreator"><h3>Sign in</h3></a>
            <a href="SignupJobCreator"><h3>Sign up</h3></a>
        </div>
    </header>
    
</body>
</html>