<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Listings</title>
</head>
<body>
	
    <div class="logo">
        
    </div>
    <h1 th:text="${companyName}"></h1>
    <div class="job-listings">
        <div class="job-role" th:each="job : ${jobRoles}">
            <h2 th:text="${job.title}"></h2>
            <h2 th:text="${job.CompanyName}"></h2>
            <img th:src="${job.image}" alt="Company Logo">
            <p th:text="${job.description}"></p>
        </div>
    </div>
</body>
</html>